<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talent Platform</title>
  <link rel="stylesheet" href="../../static/css/feed.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
</head>

<header>
  <div class="logo">LOGO</div>
  <nav>
    <a href="#">HOME</a>
    <a href="#">DASHBOARD</a>
    <a href="#">CONTACT US</a>
    <img src="/static/images/img.png" class="profile-circle">
  </nav>
</header>

<body>
<main>
  <div class="search-section">
    <div class="search-bar">
      <input type="text" placeholder="Search for Job title">
      <button type="submit">Search</button>
    </div>
    <div class="filters">
      <select name="experience" id="experience">
        <option value="">Experience level</option>
      </select>
      <select name="location" id="location">
        <option value="">Location</option>
      </select>
    </div>
  </div>

<div class="profile-cards">
    <ul>
      {% for user in users %}
    <div class="profile-card">
      <div class="profile-image"></div>
      <h3>{{ user.username }}</h3>
      <p class="job-title">Fullstack dev</p>
      <p class="freelancer">Freelancer</p>
      <div class="technologies">
        <span class="tech">HTML</span>
        <span class="tech">CSS</span>
        <span class="tech">JS</span>
        <span class="tech">+2</span>
      </div>
      <p class="description">
        small description description description description description
      </p>
      <button class="view-profile">view profile</button>
    </div>
    </ul>
    {% endfor %}
  </div>

</main>
</body>
</html>
