<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talent Platform</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="logo">LOGO</div>
  <nav>
    <a href="{{ url_for('home') }}">HOME</a>
    <a href="{{ url_for('feed', search=search) }}">FEED</a>
    <a href="{{ url_for('dashboard') }}">DASHBOARD</a>
    <img class="profile-circle" src="/static/images/img.png" alt="Profile">
  </nav>
</header>

<main>
  <h1>The Largest Platform to Reach Tech Talents</h1>

  <form class="search-bar" action="/feed" method="get">
    <input type="text" placeholder="Search for Job title" id="search" name="search">
    <button type="submit">Search</button>
  </form>

</main>

</body>
</html>
