<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talent Platform</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <img class="logo" src="/static/images/logo.png" alt="Profile">
  <nav>
    <div class="dropdown">
      <!-- Circle with three dots -->
      <div class="circle" onclick="toggleDropdown()">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

      <!-- Dropdown menu content -->
      <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('informations') }}">Profile</a>
        <a href="">Dashboard</a>
        <a href="">Projects</a>
        <a href="{{ url_for('logout') }}" methods="post">Logout</a>
      </div>
    </div>
    {% if user %}
        <img src="{{ url_for('uploaded_file', filename=user.profile_pic) }}" alt="Profile Picture" class="profile-circle">
    {% endif %}
  </nav>
</header>

<main>
  <h1>The Largest Platform to Reach Tech Talents</h1>

  <form class="search-bar" action="/feed" method="get">
    <input type="text" placeholder="Search for Job title" id="search" name="search">
    <button type="submit">Search</button>
  </form>
</main>

<script>
  // Function to toggle the dropdown menu
  function toggleDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.circle')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

</body>
</html>
