<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Profile Input</title>
    <link rel="stylesheet" href="/static/css/informations.css">
</head>
<body>
    <div class="form-container">
        <h1>Developer Profile</h1>
        <form>
            <div class="form-group">
                <label for="profile-picture">Profile Picture</label>
                <input type="file" id="profile-picture" name="profile-picture">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="job-title">Job Title</label>
                <!-- <input type="text" id="job-title" name="job-title"> -->
                <select name="job-title" id="job-title">
                    <option value="FullStack">FullStack Developer</option>
                    <option value="FrontEnd">FrontEnd Developer</option>
                    <option value="BackEnd">BackEnd Developer</option>
                </select>

            </div>
            <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="tel" id="phone-number" name="phone-number">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" name="postal-code">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city">
            </div>
            <div class="form-group">
                <label for="portfolio">Portfolio Link</label>
                <input type="url" id="portfolio" name="portfolio">
            </div>
            <div class="form-group">
                <label for="portfolio">Portfolio Link</label>
                <input type="url" id="portfolio" name="portfolio">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
