<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profil account</title>
        <link rel="stylesheet" href="/static/css/user_page.css">
        <link rel="icon" href="/static/images/logo.png">
    </head>
    <body>
        <header class="header_flex">
            <h1>{{ user.name }}</h1>
            <nav>
                <ul class="nav-link">
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact me</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="image">
                <div class="paragraph">
                    <h2>Hi There, I'm {{ user.username }} 👋</h2>
                    <p>
                        {{ user.bio }}
                    </p>
                </div>
                <div class="profile-container">
                    {% if user.profile_pic %}
                        <img src="{{ url_for('uploaded_file', filename=user.profile_pic) }}" alt="Profile Picture" class="profile-image">
                    {% else %}
                        <img src="/static/images/v33_99.png" alt="Profile Picture" class="profile-circle">
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="skills" class="second">
            <div class="content">
                <div class="binary-image">
                    <img src="/static/images/binary.png" alt="Binary Image">
                </div>
                <div class="skils-section">
                    <h3>WHAT I MASTER</h3>
                    <div class="skils-bar">
                        {% for skill in user.skills %}
                            <img src="{{ skill.python }}">
                            <img src="{{ skill.sql }}">
                            <img src="{{ skill.javascript }}">
                            <img src="{{ skill.mysql }}">
                            <img src="{{ skill.css }}">
                            <img src="{{ skill.html }}">
                            <img src="{{ skill.c }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="education">
            <div>
                <h4>Education</h4>
                {% for education in user.educations %}
                    <div class="education">
                        <img src="{{ education.imageeducation }}">
                        <div class="education-info">
                            <span class="title">{{ education.institution }}</span>
                            <span class="subtitle">The institution responsible for this beautiful program is {{ education.program}}.</span>
                            <span class="date">{{ education.date }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="projects" class="third">
        <h4>Projects</h4>
        <div class="project">
            {% for project in user.projects %}
                <div class="project-info">
                    <img src="{{ project.imageproject }}">
                    <div class="projects">
                        <span class="titles">{{ project.title }}<br></span>
                        <span class="subtitles">{{ project.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <footer>
        <div class="footer-image">
            <div class="paragraph">
                <h4 id="contact">Contact Me 👋</h4>
                <p>
                    {{ user.bio }}
                </p>
                <div class="social-icons">
                    <a href="{{ user.github_url }}" target="_blank"><img src="/static/images/v33_113.png"></a>
                    <a href="{{ user.github_url }}" target="_blank"><img src="/static/images/v33_107.png"></a>
                    <a href="{{ user.linkedln }}" target="_blank"><img src="/static/images/v33_111.png"></a>
                </div>
            </div>
            <div class="footer-profile">
                {% if user.profile_pic %}
                    <img src="{{ url_for('uploaded_file', filename=user.profile_pic) }}" alt="Profile Picture" class="profile-image">
                {% else %}
                    <img src="/static/images/v33_99.png" alt="Profile Picture" class="profile-image">
                {% endif %}
            </div>
        </div>
    </footer>
    </body>
</html>