body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #BFF7BA, #33BC27);
    padding: 0;
    color: white;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #BFF7BA, #33BC27);
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: black;
    vertical-align: middle;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    font-family: "Jockey One", sans-serif;
    font-size: 24px;
}

.profile-circle {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px 20px;
    margin: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 50px;
    color: white;

}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    border: none;
}

.search-bar input {
    width: 40%;
    padding-left: 20px;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    border: none;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filters select {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    color: black;
}

.selected-technologies {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.technology-box {
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;
}

.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
