* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 150px;
}
.bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 10px 20px; */
    gap: 150px;
}
nav  ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    font-size: 20px;
}

/* .login {
    padding: 8px 15px;
    margin-right: 30px;
} */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2e445d;
}

.logo_img {
    width: 50px;
    height: 60px;
}
nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 20px;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100vh;
    background-color: black;
}

h3 {
    color: white;
    font-size: 40px;
}

.left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding-left: 45px;
}


.herobut {
    padding: 10px 20px;
    background-color: #2e445d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

.herobut:hover {
    background-color: #485d76;
    color: white;
}

.chooseus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    height: 85vh;
    background-color: white;
    gap: 50px;
}
.choice {
    color: black;
}

.firstcards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 50px;
    overflow:visible;
}

.fcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    background-color: black;
    color: white;
    padding: 30px 15px;
    height: 55vh;
    border-radius: 20px;
}
h4 {
    color: rgb(70, 169, 20);
}

.whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    height: 85vh;
    background-color: black;
    gap: 50px;
}
.why {
    color: white;
}

.secondcards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 50px;
}

.scard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    background-color: white;
    color: black;
    padding: 30px 15px;
    height: 55vh;
    border-radius: 20px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    height: 60vh;
    background-color: white;
    gap: 55px;
    padding: 25px 65px;
}
.abt {
    font-size: 40px;
}

.abtp {
    font-size: 19px;
}

.ourteam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    height: 75vh;
    gap: 40px;
}

.teamcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    padding: 30px 15px;
    height: 60vh;
    border-radius: 20px;
}
.cardsholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 200px;
}
.name {
    color: black;
    font-size: 25px;
}
.iconimg {
    height: 13em;
    width: 13em;
}
.img {
    height: 3em;
    width: 3em;
}
.teamicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.hero_img {
    height: 400px;
    width: 700px;
}

.specialisation {
    background-color: #33BC27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    height: 85vh;
    gap: 50px;
}

.spec_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 50px;
}

.spec_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 30px 15px;
    height: 55vh;
    border-radius: 20px;
    background-color: #077C19;
    opacity: 49%;
    color: white;
    h4 {
        color: white;
    }
}

@media (max-width: 800px) {
    .hideonmobile {
        display: none;
    }

}
@media (min-width: 801px) {
    .hideondesktop {
        display: none;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
@media (max-width: 1000px){
    #hideheropic {
        display: none;
    }
}
