body {
    background-image: url(../images/backgroud.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.con {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.con form {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type=email], input[type=text], input[type=password], select {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #33BC27;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 16px;
}

input[type='email'], input[type=text]:focus, input[type=password]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

#Cancel, #Signup {
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#Cancel {
    background-color: white;
    color: #33BC27;
    border: 2px solid #33BC27;
}

#Signup {
    background-color: #33BC27;
    color: white;
    width: 50%;
    margin-top: 10px;
}

#Cancel:hover, #Signup:hover {
    opacity: 0.9;
}
