<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="icon" href="../../static/images/logo.png">
    <title>Sign In</title>
</head>
<body>
    <div class="con">
        <form action="{{ url_for('home') }}" method="POST">
            <h2>Log In</h2>
            <p>If you don't have an account, click <a href="/register">here</a></p>

            <input type="email" placeholder="Email" name="email" id="email" required>
            <input type="password" placeholder="Password" name="password" id="password" required>

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <div class="clearfix">
                <button id="forgot_password" type="button">Forgot Password</button>
                <button id="login" type="submit" onclick="window.location.href='{{ url_for('home') }}'" >Login</button>
            </div>
        </form>
    </div>
</body>
</html>
